html {
    height: 100%;
}

body {
    background-image: url(/assets/fond.png);
    background-repeat: repeat-y;
    background-size: 100%;
    font-family: 'DrawveticaMini', fantasy;
    height: 100%;
}
header{
    margin-top: 10px;
    width: 100%;
}
canvas {
    border: 1px solid black;
    background-color: white;
    width: 90%;
    height: 350px;
    margin: 10px auto;
    display: block;
}

footer {
    display: block;
    position: relative;
    bottom: 0;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 3%;
    font-size: 17px;
    width: 90%;
    height: auto;
    text-align: center;
    z-index: -2;
}

button {
    background-color: #008CBA;
    font-size: 22px;
    color: white;
    border: solid 1px white;
    border-radius: 10px;
    height: auto;
    margin: 10px;
    padding: 5px 25px;
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 35px;
    margin: 5px;
}

header {
    width: 100%;
    text-align: center;
    font-weight: normal;
    font-style: normal;
}

#mainTitle {
    width: 100%;
    text-align: center;
    font-weight: normal;
    font-style: normal;
}

.containerButtonMain {
    width: 100%;
    text-align: center;
    text-align: -webkit-center;
    margin-top: 20px;
}

#waitingScreen {
    width: 100%;
    height: 100%;
    display: none;
}

#startGameButton {
    display: none;
    margin: 0 auto;
}

#titleScreen {
    width: 100%;
    height: 100%;
}

#titleScreen #messages{
    margin-top: 50px;
    padding: 0 10px;
}

#titleScreen p {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

#drawZone {
    display: none;
}

#imageContainer {
    display: none;
}

#imageContainerEnd {
    display: none;
    text-align: center;
}

#titleDrawZone {
    width: 100%;
    text-align: center;
}

#imageToFind {
    width: 100%;
    background-color: white;
    text-align: center;
    border: 1px solid black;
}

#imageDraw {
    width: 90%;
    height: 350px;
    margin: 10px auto;
    background-color: white;
    text-align: center;
    border: 1px solid black;
}

#listPersonne {
    list-style-type: none;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#numberRoom {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

#numberPlayer {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

#mainTitle {
    animation: shake 0.9s;
    animation-iteration-count: infinite;
    width: 90%;
    margin: 0 auto;
}

#endPlayerName{
    margin: 0 15px;
}

@keyframes shake {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg);}
}

button:disabled {
    background: #ccc;
}
